/* line 1, ../style/sass/easy-pie.scss */
.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 50px;
  text-align: center;
}

/* line 10, ../style/sass/easy-pie.scss */
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 15, ../style/sass/easy-pie.scss */
.percent {
  display: inline-block;
  line-height: 75px;
  z-index: 2;
}

/* line 20, ../style/sass/easy-pie.scss */
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

/* line 25, ../style/sass/easy-pie.scss */
.angular {
  margin-top: 100px;
}

/* line 28, ../style/sass/easy-pie.scss */
.angular .chart {
  margin-top: 0;
}

/* line 31, ../style/sass/easy-pie.scss */
.span6 {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 430px) {
  /* line 37, ../style/sass/easy-pie.scss */
  .span6 {
    float: none;
    width: 100%;
  }
}
