
%cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

%hr-styling {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(219,219,219,1), rgba(0,0,0,0));
}

%line {
	@extend %cover;
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
}

%line-no-cover {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;	
}

%line-after {
	&:after {
		@extend %cover;
		content: "";
		position: absolute;
		z-index: 1;
		pointer-events: none;
		bottom: 0;
		left: 0;
		width: 100%;
		border-bottom: 150px solid $white;
		border-left: 3000px solid transparent;
	}
}

%line-before {
	&:before {
		@extend %cover;
		top: 0;
		display: block;
		content: "";
		position: absolute;
		z-index: 1;
		pointer-events: none;
		bottom: 0;
		left: 0;
		width: 100%;
		border-top: 150px solid $white;
		border-right: 3000px solid transparent;
	}
}

.headerLine {
	@extend %line;
	@extend %line-after;

	background: url(../images/wall_bannerlegno3.jpg) center center no-repeat;
}

.logo {
	margin-top: 60px;
	
	font-size: 30px;
	@extend .font-roboto-bold;
	text-transform: uppercase;
	color: $white;

	> div {
		width: 50px;
		height: 30px;
	}

	img {
		width: 100%;
		vertical-align: top;
		display: none;
	}

	span {
		color: $highlight-color;
	}

	p {
		letter-spacing: 0.5px;
		margin-top: -10px;
		
		font-size: 12px;
		@extend .font-roboto-light;
		text-transform: lowercase;
	}

	a {
		display: block;
	}
}

.gallery {
	height: 500px;
}

.camera_caption {
	margin-top: 12%;
	float: left;
	width: 100%;
	position: relative;

	h2 {
		@extend .font-opensans-bold;
		
		border-bottom: 4px solid $highlight-color;
		color: $white;

		font-size: 100px;
		letter-spacing: -2px;
		float: left;
		position: relative;
		
		@media screen and (max-width: $screen-size-m) {
			font-size: 65px;
		}

		@media screen and (max-width: $screen-size-s) {
			display: none;
		}

		&:after {
			// debug parameters
			//font-size: 60px;
			//text-align: center;
			//background-color: $highlight-color;
			// debug parameters
			//opacity: 0.7; // do we keep it?
			
			content: " ";		
			background-image: url(../images/logo.png);
			background-size: 100%;
			position: absolute;
			top: -15px;

			width: 200px;
			height: 200px;
			right: -254px;

			@media screen and (max-width: $screen-size-m) {
				width: 100px;
				height: 100px;
				right: -120px;
			}

		}
	}

	h3 {
		color: $white;
		float: left;
		width: 100%;
		margin-top: 0px;

		@media screen and (max-width: $screen-size-m) {
			font-size: 20px;
		}

		@media screen and (max-width: $screen-size-s) {
			margin-top: 20px;
			border-top: 4px solid $highlight-color;
			
			text-align: center;
			padding-top: 10px;
		}
	}
}

#titleLogo {

	background-image: url(../images/logo.png);
	background-size: 100%;

	width: 200px;
	height: 200px;

	margin: 0 auto;

	display: none;

	@media screen and (max-width: $screen-size-s) {
		display: block;
	}

}

.slicknav_menu {
	display: none;

	@media screen and (max-width: $screen-size-m) {
		display: block;
	}
}

.cBusiness{
	margin-top: 25px;

	h3 {
		text-align:center;
		
		font-size:28px;
		@extend .font-roboto;
	}

	h4 {
		margin-top: 16px;
		text-align:center;
		
		font-size:16px;
		@extend .font-roboto-light;
	}
}


.centPic {
	margin-top: 57px;
	text-align: center;
	
	margin-bottom: -89px;
	z-index: 10;

	img{
		display:inline-block;
	}
}


.line2 {
	@extend %line;
	@extend %line-after;
	@extend %line-before;

	background: url(../images/wall_bannerlegno2.jpg) center center no-repeat;
}


.Des .fa-heart{
	background: url(../images/cir.png) no-repeat;
	padding: 26px;
	font-size: 24px;
	color: $white;
	font-family: FontAwesome;
	text-align: center;
}

.Fresh{
	margin-bottom: 145px;
	color: $white;
	margin-top: 250px;
	text-align: center;

	h4{
		@extend .font-roboto-light;
		margin-top: 17px;
		font-size:20px;
	}

	p{
		@extend .font-roboto-light;
		font-size: 13px;
		margin-top: 12px;
		line-height: 23px;
	}
	
}

.fa-cog {
	margin-left: 2px;
	background: url(../images/cir.png) no-repeat;
	padding: 26px;
	font-size: 24px;
	color: $white;
	font-family: FontAwesome;
	text-align: center;
}

.fa-tablet{
	width:73px;
	background: url(../images/cir.png) no-repeat;
	padding: 26px;
	font-size: 24px;
	color: $white;
	font-family: FontAwesome;
	text-align: center;
}

.wwa {
	margin-top: 8px;
	text-align: center;

	h3 {
		@extend .font-roboto;
		color: $lighter-gray;
		font-size: 28px;
	}

	h4 {
		@extend .font-roboto-light;
		color: $lighter-gray;
		font-size: 16px;
		margin-top: 15px;
	}
}

/**/
.team {
	text-align:center;
	margin-top: 46px;

	.b1 {
		padding-left:0;
	}

	.b3 {
		padding-right:0;
	}

	img {
		margin:0 auto;
	}

	h4 {
		@extend .font-roboto-light;
		color:$lighter-gray;
		font-size:20px;
		margin-top: 24px;
	}

	h5 {
		@extend .font-roboto-light;
		color:#a9a9a9;
		font-size:13px;
		margin-top: -3px;
	}

	p {
		@extend .font-roboto-light;
		color: #666;
		font-size: 13px;
		line-height: 24px;
		margin-top: 12px;
	}

	ul {
		margin-top: 2px;
		padding-left:0px;
		display: inline-block;
		margin:0 auto;

		li {
			padding:0 10px;
			float:left;
			list-style:none;
			font-family: FontAwesome;
			font-size:15px;

			a {
				color:$lighter-gray;

				&:hover{
					color:$highlight-color;
				}
			}
		}

		@media screen and (max-width: $screen-size-m){
			margin-bottom: 35px;
		}
	}
}

/**/
/**/
.hr1{
	margin-top: 34px;
	
	hr {
		@extend %hr-styling;
	}
}


.aboutUs {
	margin-top: 32px;
	text-align:center;

	h3{
		font-size:28px;
		color: $lighter-gray;
		@extend .font-roboto;
	}
}


.about {
	h3 {
		@extend .font-roboto-light;
		color: $lighter-gray;
		font-size: 16px;
		margin-top: 51px;

		@media screen and (max-width: $screen-size-s){
			text-align:center;
			margin-top:73px !important;
		}
	}

	p {
		@extend .font-roboto-light;
		color: #666666;
		font-size: 13px;
		line-height: 22px;
		margin-top: 12px;
		margin-bottom: 0;

		@media screen and (max-width: $screen-size-s){
			margin-top: 30px !important;
			text-align: justify;
		}

		@media screen and (max-width: $screen-size-m) {
			text-align: justify;
		}
	}
}

.about1{
	float: right;
	text-align: right;
}

.about2{
	float: left;
	text-align: left;
}

.pic1Ab{
	padding-bottom: 15px;
	float: right;
	padding: 34px;
	padding-top: 51px;
	padding-right: 40px;
	padding-bottom: 10px;

	@media screen and (max-width: $screen-size-xl){
		margin-bottom:50px ;
	}

	@media screen and (max-width: $screen-size-m) {
		margin-bottom:0 !important;
	}

	@media screen and (max-width: $screen-size-s) {
		padding-bottom:0 !important;
		margin-bottom:0;
	}
}

.pic2Ab{
	float: left;
	padding: 40px;
	padding-top: 51px;
	padding-right: 37px;
	padding-bottom: 39px;

	@media screen and (max-width: $screen-size-xl){
		margin-bottom:20px ;
	}

	@media screen and (max-width: $screen-size-m) {
		margin-bottom:0 !important;
	}

	@media screen and (max-width: $screen-size-s) {
		padding-bottom:0 !important;
		margin-bottom:0;
	}
}

.horL {
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 31px;
	left: 0;
	bottom: 0;
	right: 0;
	width: 1170px;
	height: 254px;
	content: '';
	z-index: 30;
	background: url(../images/horL.png) no-repeat;

	@media screen and (max-width: $screen-size-l){
		display: none;
	}
}

/**/
.line3 {
	@extend %line;
	@extend %line-after;
	@extend %line-before;

	background: url(../images/wall_bannerlegno1.jpg) center center no-repeat;
}

.Ama {
	margin-top: 201px;
	margin-bottom: 133px;

	@media screen and (min-device-width: $screen-size-xxl) {   
		margin-top: 246px;
		margin-bottom: 164px;
	}

	@media screen and (max-width: $screen-size-s) {
		margin-top: 280px !important;
		margin-bottom: 100px !important;
	}

	h3 {
		@extend .font-roboto;
		color: $white;
		font-size: 42px;
		margin-top: 17px;
		text-align:center;
	}

	p {
		@extend .font-roboto-light;
		color: $white;
		font-size: 16px;
		text-align:center;
	}
}


.view {
	h3 {
		margin-bottom: 5px;
		text-align:center;
		margin-top: 12px;
	}

	a {
		@extend .font-roboto-light;
		text-decoration:none;
		color:$lighter-gray;
		font-size: 16px;
		text-align:center;

		&:hover{
			color:$highlight-color;
		}
	}

	li {
		@extend .font-roboto-light;
		display:inline-block;
		height:40px;
		background:none;
		text-decoration:none;
		color:#a9a9a9;
		font-size: 13px;
		text-align:center;
	}

	ul {
		display:block !important;
		margin-top: 7px;
		margin-bottom:25px;
		text-align: center;
		padding-left: 0;

		i {
			margin-right: 5px;
			font-style:normal;
			display:inline-block;
			font-family: FontAwesome;
			font-size:13px;
			color:#a9a9a9;
		}

		li {
			margin-right: 12px;
			text-align:center;
			display: inline-block;
			background: none;
			box-shadow: none;
			list-style:none;
		}

		a {
			@extend .font-roboto-light;
			display:inline-block;
			color:#a9a9a9;
			font-size: 13px;

			&:hover {
				color:#fd5f5b;

				i {
					color:#fd5f5b;
				}
			}
		}
	}
}


.pb2{
	margin-top: 25px;
}


.pb3{
	margin-top: 25px;
}


/**/
.line4 {
	@extend %line;
	@extend %line-after;
	@extend %line-before;

	background: url(../images/bgTop.jpg) center center no-repeat;
}

.news {
	margin-top: 50px;

	img {
		border-radius:3px;

		@media screen and (max-width: $screen-size-m) {	
			display:inline;
		}
	}
	
	h3 {
		@extend .font-roboto-light;
		text-align: center;
		color: $lighter-gray;
		font-size: 16px;

		a {
			@extend .font-roboto-light;

			text-align: center;
			color: $lighter-gray;
			font-size: 16px;
			
			text-decoration:none;

			&:hover{
				color: $highlight-color;
			}
		}
	}
	
	p {	
		@extend .font-roboto-light;
		line-height: 23px;
		color: #666666;
		font-size: 13px;

		@media screen and (max-width: $screen-size-xs){
			text-align: justify;
		}

		@media screen and (max-width: $screen-size-m) {
			text-align: center;
		}

		@media screen and (max-width: $screen-size-xl) {
			text-align: justify;	
		}
	}

	div {
		@media screen and (max-width: $screen-size-m) {
			text-align: center;
		}		
	}

	.readMore {
		text-decoration:none;

		&:hover {
			color:#666666;
		}
	}

	ul {
		margin-top: 14px;
		padding-left: 0;
		text-align: center;
		
		li {
			@extend .font-roboto-light;

			color:#a9a9a9;
			display:inline-block;
			font-size:13px;
			list-style:none;
			padding-right: 20px;
			text-decoration:none;

			a {
				@extend .font-roboto-light;
				color:#a9a9a9;
				font-size:13px;
				text-decoration:none;
				list-style:none;

				&:hover{
					color:$highlight-color;
				}
			}

			i {
				padding-right:5px;
			}

		}

	}

}

.news2 {
	margin-top: 25px;
}

.readMore {
	color: $highlight-color;

	i {
		font-size:13px;
	}
}


.hrNews{
	margin-top: 18px;
	background-color:$white;

	@extend %hr-styling;
}


/**/
.mNews {
	margin-top: 26px !important;
	margin-left: -49px !important;
}


/**/
.line7 {
	@extend %line;
	@extend %line-before;
	@extend %line-after;

	&:after {
		border-bottom-color: $black;
	}

	background: url(../images/line7Bg.jpg) center center no-repeat;
}


.footer {
	margin-top: 40px;
	min-height:435px;

	h3 {
		margin-top: 159px;
		font-size: 28px;
		
		@extend .font-roboto;
		color: $white;
		text-align: center;
		margin-bottom: 17px;
	}

	p {
		font-size:16px;
		
		@extend .font-roboto-light;
		color:$white;
		text-align:center;
	}
}



/**/
.lineBlack {
	@extend %line-no-cover;
	
	background: url(../images/bgFooter.png) no-repeat;
	background: $black;
}


.downLine{
	margin-bottom: 35px;
	margin-top: 20px;

	p {
		@extend .font-roboto-light;
		color: $white;
		font-size: 13px;
	}
}



// copyright in bottom left corner in footer

.copy {
	margin-top: 29px;

	p {
		@media screen and (max-width: $screen-size-m){
			text-align: center;
		}
	}
}


// "down menu" - links in bottom right corner in footer

.dm {
	margin-top: 29px;
}

#downMenu {
	float: right;

	@media screen and (max-width: $screen-size-m){
		display: none;
	}

	li {
		height: 16px;
		border-right: 1px solid $light-gray;
		float: left;
		list-style: none;

		&:last-child {
			border-right: none;

			a {
				padding-right: 0;
			}
		}

		a {
			@extend .font-roboto-light;
			padding: 15px;
			text-decoration: none;
			font-size: 13px;
			
			color: $white;
			margin-top: 10px;
			margin-bottom: 10px;

			&:hover {
				color:#6d6d6d;
			}
		}
	}
}