
////////////
// COLORS
////////////

// HIGHLIGHT COLORS

$highlight-color: 	#4CC323;
$highlight-dark:	#33771B;

// $highlight-color: #1fcdff; // $highlight-dark: #179abf;	//cyan
// $highlight-color: #cdff1f; // $highlight-dark: #9abf17;	//acid green 


// SHADES OF GRAY
$light-gray:		#343434;
$lighter-gray:		#2f2f2f;
$gray: 				#1c1c1c;
$darker-gray:		#101010;


// BASE COLORS
$white:				#fff;
$black:				#000;





////////////
// SCREEN SIZES
////////////

$screen-size-xs:	323px;
$screen-size-s:		460px;
$screen-size-m:		991px;
$screen-size-l:		1190px;
$screen-size-xl:	1229px;
$screen-size-xxl:	1919px;